In [4]:
import json
import numpy as np
import pandas as pd
import tushare as ts
import matplotlib.pyplot as plt

In [5]:
# 载入ts token并初始化
with open("token.json") as f:
    tokens = json.load(f)
ts_token = tokens.get("ts_token")
ts.set_token(ts_token)

In [6]:
# 从tushare-pro获取2组股票数据（需要token）
start = "2014-01-01"
end = "2019-01-01"

stock_a = "000002.SZ"
stock_b = "601398.SH"
stock_c = "600104.SH"
stock_d = "600011.SH"
symbols = [stock_a, stock_b, stock_c, stock_d]
df_dict = dict()
for symbol in symbols:
    df = ts.pro_bar(symbol, start_date=start, end_date=end, adj="qfq")
    df.set_index("trade_date", inplace=True)
    df_dict[symbol] = df
    
price = pd.DataFrame({symbol: df["close"] for symbol, df in df_dict.items()})
price.fillna(method="ffill", inplace=True)
price.head()

          000002.SZ  601398.SH  600104.SH  600011.SH
20140102     6.5454     2.7655    10.2785     4.0876
20140103     6.4225     2.7501     9.9816     4.0309
20140106     6.1276     2.7423     9.6774     3.8609
20140107     6.0866     2.7423     9.7516     3.8205
20140108     6.0784     2.7578     9.9445     3.8528

In [7]:
price.tail()

          000002.SZ  601398.SH  600104.SH  600011.SH
20181224      23.88       5.22      25.86       7.33
20181225      23.97       5.23      26.24       7.30
20181226      23.80       5.27      26.75       7.31
20181227      23.44       5.28      27.16       7.36
20181228      23.82       5.29      26.67       7.38

In [8]:
stock_returns = np.log(price / price.shift(1))
stock_returns

          000002.SZ  601398.SH  600104.SH  600011.SH
20140102        NaN        NaN        NaN        NaN
20140103  -0.018955  -0.005584  -0.029311  -0.013968
20140106  -0.047004  -0.002840  -0.030950  -0.043089
20140107  -0.006714   0.000000   0.007638  -0.010519
20140108  -0.001348   0.005636   0.019588   0.008419
20140109   0.005382  -0.011268  -0.025698  -0.002105
20140110  -0.010776   0.000000   0.000000   0.022910
20140113  -0.019154   0.002820  -0.003835   0.004110
20140114  -0.001384  -0.005647   0.007656   0.002049
20140115  -0.008342  -0.017211   0.006842  -0.024864
20140116   0.002788  -0.008718  -0.007603   0.008357
20140117  -0.015415  -0.005829  -0.036537  -0.014671
20140120   0.007044  -0.002927  -0.011945  -0.010586
20140121   0.012539   0.000000   0.015896   0.014800
20140122   0.053925   0.008757   0.031825   0.020806
20140123  -0.017208  -0.008757  -0.001535   0.010218
20140124   0.039263   0.000000   0.008388   0.004068
20140127  -0.018137  -0.011834  -0.008388   0.008087
20140128  -0.001293   0.008860   0.001535  -0.022372
20140129  -0.013188   0.014670   0.000000   0.014286
20140130  -0.021437  -0.008769  -0.008446  -0.012229
20140207   0.004044  -0.002927  -0.002307  -0.010327
20140210   0.013418   0.005846   0.040108   0.014429
20140211   0.005301   0.008743   0.002964   0.012179
20140212  -0.003969  -0.002893  -0.010409  -0.002024
20140213  -0.014750   0.000000   0.002243  -0.008111
20140214  -0.005402  -0.002940   0.006690   0.004051
20140217   0.000000   0.002940   0.014704   0.004060
20140218  -0.013658  -0.002940  -0.017672  -0.012204
20140219   0.013658   0.014500   0.011813   0.008144
...             ...        ...        ...        ...
20181119   0.046905   0.013023  -0.013501   0.023359
20181120  -0.012398  -0.011153  -0.002722  -0.033752
20181121   0.014706   0.001867  -0.010176   0.032308
20181122  -0.015486   0.000000   0.013675  -0.017493
20181123  -0.028896  -0.005613  -0.025547  -0.011834
20181126   0.011579   0.003745  -0.014839  -0.025623
20181127  -0.009573  -0.003745  -0.006892   0.033036
20181128   0.036597   0.003745   0.014139  -0.002959
20181129  -0.023061  -0.003745   0.000000   0.000000
20181130   0.005914   0.000000  -0.003214   0.021979
20181203   0.011335   0.014898   0.021104   0.032790
20181204  -0.023595   0.001847  -0.011094   0.018069
20181205   0.006742  -0.003697  -0.004392   0.001376
20181206  -0.007937  -0.009302  -0.011673  -0.015246
20181207   0.009516   0.000000   0.000809   0.027550
20181210  -0.013508  -0.003745  -0.017136  -0.019205
20181211   0.038066   0.000000   0.006563   0.002766
20181212   0.014526   0.001874   0.010978   0.015079
20181213   0.028065   0.009320   0.002827   0.026847
20181214  -0.023900  -0.007449  -0.002827  -0.017369
20181217   0.002265   0.003731   0.015249  -0.025940
20181218  -0.039221  -0.003731  -0.004390   0.002762
20181219  -0.004717  -0.003745   0.019803   0.002755
20181220  -0.003157  -0.018940  -0.004717   0.028477
20181221  -0.042388  -0.007678   0.008631  -0.009402
20181224  -0.015375   0.005764   0.010105  -0.010855
20181225   0.003762   0.001914   0.014588  -0.004101
20181226  -0.007117   0.007619   0.019250   0.001369
20181227  -0.015242   0.001896   0.015211   0.006817
20181228   0.016082   0.001892  -0.018206   0.002714

[1220 rows x 4 columns]

In [9]:
# 日平均收益率
print(stock_returns[stock_a].mean())
print(stock_returns[stock_b].mean())
print(stock_returns[stock_c].mean())
print(stock_returns[stock_d].mean())

0.0010596907720078132
0.0005320728428364326
0.0007821862208452296
0.00048467238544418683

In [10]:
# 平均收益率年化
print(stock_returns[stock_a].mean() * 250)
print(stock_returns[stock_b].mean() * 250)
print(stock_returns[stock_c].mean() * 250)
print(stock_returns[stock_d].mean() * 250)

0.2649226930019533
0.13301821070910813
0.1955465552113074
0.12116809636104671

In [11]:
# 年化历史收益率
stock_returns[[stock_a, stock_b, stock_c, stock_d]].mean() * 250

000002.SZ    0.264923
601398.SH    0.133018
600104.SH    0.195547
600011.SH    0.121168
dtype: float64

In [12]:
# 年化历史波动率
stock_returns[[stock_a, stock_b, stock_c, stock_d]].std() * np.sqrt(250)

000002.SZ    0.406188
601398.SH    0.252149
600104.SH    0.327268
600011.SH    0.370504
dtype: float64

In [13]:
# 计算方差以便检验cov函数数据

print(stock_returns[stock_a].var(), stock_returns[stock_b].var())

0.0006599550915834812 0.00025431689411697006

In [14]:
print(stock_returns[stock_a].var() * 250, stock_returns[stock_b].var() * 250)

0.1649887728958703 0.06357922352924252

In [15]:
# 计算协方差矩阵
cov_matrix = stock_returns.cov()
cov_matrix

           000002.SZ  601398.SH  600104.SH  600011.SH
000002.SZ   0.000660   0.000165   0.000187   0.000180
601398.SH   0.000165   0.000254   0.000177   0.000148
600104.SH   0.000187   0.000177   0.000428   0.000219
600011.SH   0.000180   0.000148   0.000219   0.000549

In [16]:
cov_matrix = stock_returns.cov() * 250
cov_matrix

           000002.SZ  601398.SH  600104.SH  600011.SH
000002.SZ   0.164989   0.041261   0.046839   0.044880
601398.SH   0.041261   0.063579   0.044286   0.037053
600104.SH   0.046839   0.044286   0.107104   0.054836
600011.SH   0.044880   0.037053   0.054836   0.137273

In [17]:
# 计算相关性矩阵
corr_matrix = stock_returns.corr()
corr_matrix

           000002.SZ  601398.SH  600104.SH  600011.SH
000002.SZ   1.000000   0.402863   0.352354   0.298220
601398.SH   0.402863   1.000000   0.536672   0.396614
600104.SH   0.352354   0.536672   1.000000   0.452241
600011.SH   0.298220   0.396614   0.452241   1.000000

In [19]:
# 等权重分配
weights = np.array([0.25, 0.25, 0.25, 0.25])

In [28]:
# 计算组合历史收益率
hist_returns = stock_returns[[stock_a, stock_b, stock_c, stock_d]].mean() * 250
portfolio_returns = np.dot(weights.T, hist_returns)
portfolio_returns

0.178663888820854

In [20]:
# 计算组合方差
portfolio_var = np.dot(weights.T, np.dot(cov_matrix, weights))
portfolio_var

0.0632035693719186

In [21]:
# 计算组合历史波动率
portfolio_vol = np.sqrt(portfolio_var)
portfolio_vol

0.2514032007988733