In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({'key1': ['a', 'a', 'b', 'b', 'a'],
                  'key2': ['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2': np.random.randn(5)})

In [5]:
df

  key1 key2     data1     data2
0    a  one  0.855394  0.687963
1    a  two  1.610987  1.341795
2    b  one -0.774829  0.749897
3    b  two  0.975042 -1.247999
4    a  one -0.568968 -0.299675

In [31]:
df.dtypes

key1      object
key2      object
data1    float64
data2    float64
dtype: object

In [6]:
grouped = df['data1'].groupby(df['key1'])

In [7]:
grouped.mean()

key1
a    0.632471
b    0.100107
Name: data1, dtype: float64

In [11]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()
means, type(means)

(key1  key2
 a     one     0.143213
       two     1.610987
 b     one    -0.774829
       two     0.975042
 Name: data1, dtype: float64, pandas.core.series.Series)

In [13]:
m2 = means.unstack()
m2, type(m2)
m2

key2       one       two
key1
a     0.143213  1.610987
b    -0.774829  0.975042

In [19]:
g2 = df.groupby(['key1', 'key2']).size()
# g2.unstack()
g2

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

In [19]:
g3 = df.groupby('key1')
g3

In [21]:
for name, group in g3:
    print(name)
    print(group)
    print(group.name)

a
  key1 key2     data1     data2
0    a  one  0.482157 -1.117797
1    a  two -0.444340 -0.897264
4    a  one -0.185859  1.610371

AttributeError: 'DataFrame' object has no attribute 'name'

In [23]:
g4 = df.groupby(['key1', 'key2'])
for (k1, k2), group in g4:
    print(k1, k2)
    print(group)

a one
  key1 key2     data1     data2
0    a  one  0.855394  0.687963
4    a  one -0.568968 -0.299675
a two
  key1 key2     data1     data2
1    a  two  1.610987  1.341795
b one
  key1 key2     data1     data2
2    b  one -0.774829  0.749897
b two
  key1 key2     data1     data2
3    b  two  0.975042 -1.247999

In [30]:
d3 = dict(list(g3))
d3['a']

  key1 key2     data1     data2
0    a  one  0.855394  0.687963
1    a  two  1.610987  1.341795
4    a  one -0.568968 -0.299675

In [6]:
df.groupby('key1')['data1'].mean()

key1
a   -0.049347
b   -0.369665
Name: data1, dtype: float64

In [5]:
df.groupby('key1')['data1'].agg('mean')

key1
a   -0.049347
b   -0.369665
Name: data1, dtype: float64

In [4]:
people = pd.DataFrame(np.random.randn(5, 5),
                     columns=list('abcde'),
                     index=['joe', 'lin', 'wes', 'zhao', 'travis'])
people

               a         b         c         d         e
joe    -1.426355  2.433598 -0.596700  0.344830 -0.435173
lin    -0.321719 -1.401609  0.414406 -0.666674 -1.845365
wes     0.594213 -0.026028  2.439455 -0.777692  0.464480
zhao   -0.067069  0.819917  0.749069  1.290996  0.723409
travis  1.253098  0.556285  1.645780  0.787092 -0.054408

In [46]:
people.loc['wes': 'wes', 'b': 'c'] = np.nan
people

               a         b         c         d         e
joe     0.639794 -0.955721 -0.766272 -0.512735  0.004371
lin     0.130658 -0.257668  0.409276  0.751442  3.154916
wes    -0.386521       NaN       NaN  2.189725 -0.476406
zhao    0.337177  0.482240  1.081029  0.161523 -0.498251
travis  1.147518 -1.137177 -0.123699  1.935558 -1.944002

In [47]:
mapping = {'lin': 'cn', 'zhao': 'cn', 'joe': 'en', 'wes': 'en', 'travis': 'en'}
people.groupby(mapping).sum()

           a         b         c         d         e
cn  0.467834  0.224572  1.490305  0.912965  2.656666
en  1.400791 -2.092897 -0.889971  3.612548 -2.416037

In [48]:
people.groupby(len).sum()

          a         b         c         d         e
3  0.383930 -1.213388 -0.356996  2.428432  2.682882
4  0.337177  0.482240  1.081029  0.161523 -0.498251
6  1.147518 -1.137177 -0.123699  1.935558 -1.944002

In [7]:
frame = pd.DataFrame({'data1': np.random.randn(1000),
                     'data2': np.random.randn(1000)})

In [9]:
factor = pd.cut(frame.data1, 4)
factor

0        (-0.194, 1.27]
1      (-1.658, -0.194]
2        (-0.194, 1.27]
3      (-1.658, -0.194]
4        (-0.194, 1.27]
5      (-3.128, -1.658]
6      (-1.658, -0.194]
7      (-1.658, -0.194]
8         (1.27, 2.734]
9      (-1.658, -0.194]
10       (-0.194, 1.27]
11     (-1.658, -0.194]
12       (-0.194, 1.27]
13     (-1.658, -0.194]
14     (-1.658, -0.194]
15       (-0.194, 1.27]
16     (-1.658, -0.194]
17       (-0.194, 1.27]
18        (1.27, 2.734]
19       (-0.194, 1.27]
20     (-1.658, -0.194]
21       (-0.194, 1.27]
22       (-0.194, 1.27]
23       (-0.194, 1.27]
24       (-0.194, 1.27]
25       (-0.194, 1.27]
26       (-0.194, 1.27]
27     (-1.658, -0.194]
28       (-0.194, 1.27]
29     (-1.658, -0.194]
             ...
970    (-1.658, -0.194]
971      (-0.194, 1.27]
972    (-1.658, -0.194]
973    (-1.658, -0.194]
974    (-1.658, -0.194]
975    (-1.658, -0.194]
976      (-0.194, 1.27]
977      (-0.194, 1.27]
978      (-0.194, 1.27]
979      (-0.194, 1.27]
980      (-0.194, 1.27]
981      (-0.194, 1.27]
982      (-0.194, 1.27]
983    (-1.658, -0.194]
984      (-0.194, 1.27]
985      (-0.194, 1.27]
986    (-1.658, -0.194]
987    (-1.658, -0.194]
988      (-0.194, 1.27]
989      (-0.194, 1.27]
990      (-0.194, 1.27]
991      (-0.194, 1.27]
992      (-0.194, 1.27]
993      (-0.194, 1.27]
994    (-1.658, -0.194]
995      (-0.194, 1.27]
996      (-0.194, 1.27]
997      (-0.194, 1.27]
998       (1.27, 2.734]
999      (-0.194, 1.27]
Name: data1, Length: 1000, dtype: category
Categories (4, interval[float64]): [(-3.128, -1.658] < (-1.658, -0.194] < (-0.194, 1.27] < (1.27, 2.734]]

In [11]:
frame2 = pd.qcut(frame.data1, 10, labels=False)
frame2

0      8
1      0
2      4
3      1
4      6
5      0
6      3
7      1
8      9
9      1
10     4
11     2
12     7
13     0
14     3
15     5
16     1
17     4
18     9
19     5
20     1
21     6
22     7
23     7
24     8
25     6
26     7
27     1
28     7
29     2
      ..
970    2
971    5
972    4
973    0
974    2
975    0
976    7
977    4
978    4
979    5
980    6
981    5
982    8
983    0
984    8
985    6
986    1
987    2
988    6
989    5
990    8
991    4
992    4
993    4
994    2
995    4
996    8
997    7
998    9
999    7
Name: data1, Length: 1000, dtype: int64

In [14]:
frame[::10]

        data1     data2
0    0.898283 -0.414869
10  -0.120632 -0.829563
20  -0.903654 -1.222609
30   0.351289 -0.255554
40  -0.508123 -0.322343
50  -0.054374 -0.070248
60  -0.008025  0.588899
70   0.520185 -0.485286
80   1.924914  3.423795
90   0.136980 -0.716277
100 -0.404962 -2.333666
110 -0.568541  0.607948
120  1.467574  0.722205
130  0.067527 -0.601073
140  0.493498  1.267011
150 -0.525673 -0.726603
160  0.937591  0.845115
170 -1.232010 -1.096799
180 -0.582206  0.824236
190  1.245488  0.099398
200  0.132928  0.159528
210 -0.810785  0.644283
220  1.274238  0.609720
230  0.625085 -1.644018
240  1.251307 -0.965710
250  0.853860 -0.173206
260  0.266549  1.137207
270 -0.113909  0.117338
280 -0.276280 -0.367111
290 -0.880025  0.738691
..        ...       ...
700  0.696559  0.606679
710 -0.640451  1.281053
720 -0.115479  0.757858
730 -1.199629 -0.620705
740  1.228248 -0.479845
750  0.214213  2.427310
760 -1.116554  2.254511
770 -1.193637 -0.603171
780  1.010255 -0.285980
790  0.744676 -0.363756
800  0.035332  0.833634
810  0.370619  0.717221
820  0.174387 -0.344176
830  1.008094  0.409499
840 -0.911333  1.583752
850  0.660172  1.990256
860 -0.373830 -0.533129
870  1.370926 -0.139254
880  0.057965  0.328304
890 -0.845431  0.733486
900 -0.068908 -1.285379
910  0.924591  0.050904
920 -0.499246 -1.581517
930 -0.687256  0.347404
940  1.235570  0.055448
950  0.718859  0.169938
960 -1.086755 -0.132014
970 -0.638392  0.489037
980  0.321373 -1.656322
990  1.181880 -0.472559

[100 rows x 2 columns]

In [15]:
['east'] * 4

['east', 'east', 'east', 'east']

In [16]:
['east'] * 4 + ['west'] * 4

['east', 'east', 'east', 'east', 'west', 'west', 'west', 'west']

In [25]:
(list(range(1, 11)) + [10] * 3) * 4

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 10,
 10,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 10,
 10,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 10,
 10,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 10,
 10,
 10]

In [26]:
np.random.permutation(3)

array([2, 1, 0])